.board_container .board, #board_container #board {
    border: .5px solid black;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    /* border-collapse: collapse; */
    width: 560px;
    height: 560px;
}

.board_container .board .row_odd, .board_container .board .row_even, 
#board_container #board .row_odd, #board_container #board .row_even{
    display: grid;
    width: 560px;
    height: 70px;
    grid-template-columns: repeat(8, 1fr);
}
.board_container .board .row_odd div, .board_container .board .row_even div, 
#board_container #board .row_odd div, #board_container #board .row_even div {
    border: .5px solid black;
    /* display: table-cell; */
    text-align: center;
    line-height: 70px;
}
.board_container .board .black,
#board_container #board .black {
    background: black;
}

.nav_letters {
    width: 560px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
.board_container .nav_digits, #board_container .nav_digits {
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 70px;
    margin-left: 10px;
}

.board_container, #board_container {
    display: flex;
}

.board_container .whiteFigures, #board_container .whiteFigures {
    color: rgb(199, 199, 199);
}

.board_container .blackFigures, #board_container .blackFigures {
    color: rgb(255, 0, 0);
}