body {
    position: relative;
}

.modalContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    background-color: rgba(128, 128, 128, 0.288);
}

.modal_fixed {
    display: block;
}

.modalContent {
    margin: 15% auto;
}

